*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    
}
.container{
    height: 100vh;
    color: white;
    background: lightgoldenrodyellow;
    flex-wrap: wrap;
    overflow: hidden;
}
.contain{
    display: flex;
    
}
.blob{
    background: blueviolet;
    width: 400px ;
    height: 90vh;
   border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
   
}
.flex{
    transform: translate(350px,-595px);
    
}
.flex2{
    background: silver;
    border-radius: 30px;
}
.phone{
    height: 94vh;
    border-radius: 30px;
    width: 300px;
    background: white;
    padding: 10px;
    

}
.mini{
    background: white;
    width: 200px;
    height: 20px;
    position: fixed;
    margin-left:50px ;
    border-radius: 10px;
}
.iphone{
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: hsl(271,36%,24%);
    padding-left: 10px;
    padding-top: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.iphone h2{
    padding-right: 30px;
    padding-top: 20px;
}
.iphone img{
    
    border-radius: 50%;
}
.iphone .img{
    margin-top: 10px;
    background: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.word{
    padding-top: 15px;
    padding-left: 15px;
    
}
.flex h1{
    padding-top: 10px;
    padding-left: 40px;
}
.fem{
        width: 180px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    background:   hsl(276, 55%, 52%);
    color: white;
    margin-left: 10px;
}
.image{
    padding-top: 10px;
    margin-left: 100px;
    margin-right: 10px;
}
.image img{
    border-radius: 10px;
}
.after{
    width: 180px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    background: hsl(271,15%,43%);
    color: black;
    text-align: left;
    margin-right: 10px;
}
.after2{
    width: 100px;
    margin-left: 80px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    background: hsl(271,15%,43%);
    color: black;
    text-align: left;
    margin-right: 10px;
}

.y{
    width: 240px;
    background: hsl(276, 55%, 52%);
    border-radius: 20px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 10px;
}
.gite{
    margin-left: 90px;
    margin-right: 10px;
}
.paye{
    padding: 5px;
    display: flex;
    width: 180px;
    flex-direction: row;
    background: blueviolet;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.paye h3{
    margin-left: 20px;
}
.pam{
    margin-left: 25px;
}
.contact{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.contact input{
    padding: 10px;
    width: 440px;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    padding-right:100px ;
}


.angle h3{
    display: flex;
    justify-content: center;
    align-items: center;
   transform: translateX(-40px);
    background: black;
   width: 40px;
   height: 40px;
    border-radius: 50%;
 
}
.text{
    color: black;
    transform: translate(400px,-430px);
}
.text p{
    color: silver;
}
.attribution{
    display: flex;
    flex-direction: end;
    justify-content: baseline;
    color: black;
    margin-top: 10px;
    margin-left: 200px;
    text-align: center;
    transform: translateY(-100px);
}
@media(max-width:700px){

    body{
        overflow-x: hidden;
    }
    .container{
        width: 700px;
        height: 135vh;
        display: flex;
        padding-right: 100px;
    }
    .contain{
        transform: translate(-280px,20px);
        display: flex;
        flex-direction: column;
    }
    .blob{
        width: 300px;

        border-bottom-left-radius: 200px;
        border-bottom-right-radius: 200px;
    }

   .text {
    transform: none;
    margin-top: 50px;
    margin-left: 0px;
   }
   .text h2{
    
    font-size: 50px;
   }
   .text p{
    transform: translateX(-30px);
   }
   .attribution{
    transform: translate(-30px,20px);
    margin-left: 40px;
   }
}